In [32]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [2]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

#### Dictionary

In [15]:
# Dictionary
pop_dict ={'CA':5423967,'TX':1695662,'NY':1441297,'FL':1703512}
pop = pd.Series(pop_dict)
pop

CA    5423967
TX    1695662
NY    1441297
FL    1703512
dtype: int64

In [16]:
pop['CA':'NY']

CA    5423967
TX    1695662
NY    1441297
dtype: int64

### DataFrame

In [18]:
area_dict = {'CA':423967,'TX':695662,'NY':141297,'FL':170312}
area = pd.Series(area_dict)
print(area)
#DataFrame
states = pd.DataFrame({'population':pop,'area':area})
print(states)

CA    423967
TX    695662
NY    141297
FL    170312
dtype: int64
    population    area
CA     5423967  423967
TX     1695662  695662
NY     1441297  141297
FL     1703512  170312

In [24]:
states['population'] # columns unlike Numpy

CA    5423967
TX    1695662
NY    1441297
FL    1703512
Name: population, dtype: int64

#### DataFrame Object

In [ ]:
#단일 Series 객체에서 구성하기
pd.DataFrame(pop, columns=['population'])

#Series 객체의 딕셔너리에서 구성하기
pd.DataFrame({'population':pop,'area':area})

In [30]:
#딕셔너리의 리스트에서 구성하기
data = [{'a':i,'b':2*i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [27]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}]) # 누락되어도 Nan으로 채움

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [36]:
#2D NumPy 배열에서 구성하기
print(np.random.rand(3,2))
pd.DataFrame(np.random.rand(3,2), columns=['foo','bar'], index=[1,2,3])

[[0.15739402 0.67885821]
 [0.08736875 0.81903316]
 [0.02245636 0.33608647]]

        foo       bar
1  0.292743  0.805718
2  0.763620  0.084421
3  0.633496  0.496579

In [40]:
ind = pd.Index([2,3,4,5,7])
print(ind)
print(ind[1])
ind[1]=0 #ERROR

Int64Index([2, 3, 4, 5, 7], dtype='int64')
3

TypeError: Index does not support mutable operations